<div class="chat-top">
  <div class="left-header">
    <div class="now-room">
      <p>chatroom1</p>
    </div>
  </div>

  <div class="right-header">
    <div class="end-room">
      <a href="/">チャットを終了する</a>
    </div>
  </div>

</div>


<%# チャット画面 %>
<div class="chat-main">
  <div class="text-box">
    <div class="name-box">
      <div class="friend-name">
        <p>たかし</p>
      </div>
      <div class="chat-time">
        <p>2021/02/04(Thu) 12:40:40</p>
      </div>
    </div>

    <div class="lower-message">
      <div class="text-content">
        <p>おはよう</p>
      </div>
    </div>
  </div>


    <div class="text-box">
    <div class="name-box">
      <div class="friend-name">
        <p>ゆめ</p>
      </div>
      <div class="chat-time">
        <p>2021/02/04(Thu) 12:50:00</p>
      </div>
    </div>

    <div class="lower-message">
      <div class="text-content">
        <p>こんばんは</p>
      </div>
    </div>
  </div>


</div>


<%# チャットフッター %>
  <div class="message-form">
    <div class="form-input">
      <input type="text" placeholder="type a message" class="text-form">
      <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
      </label>
    </div>
    <input type="submit" placeholder="送信" class="send">
  </div>
