<div class="text-box">
  <div class="name-box">
    <div class="friend-name">
      <%= message.user.name %>
    </div>
    <div class="chat-time">
      <%= message.created_at %>

    </div>
  </div>
  <div class="lower-message">
    <div class="text-content">
      <%= message.content %>
    </div>
  </div>
</div>