
<div class="side-top">
  <div class="user-name">
    <%= current_user.name %>
    <ul class=user-nav>
      <li class="user-link">
        <%= link_to "編集", edit_user_path(current_user) %>
      </li>
      <li>
      </li>
    </ul>
  </div>

  <div class="room-create">
    <%= link_to "チャットルーム作成", new_room_path %>
  </div>
</div>


<div class="side-main">
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
          <%= link_to room.name, room_messages_path(room) %>
      </div>
    </div>
  <% end %>
</div>