
<div class="side-top">
  <div class="user-name">
    <a href="/">tech</a>
  </div>

  <div class="room-create">
    <a href="/">create</a>
  </div>
</div>


<div class="side-main">
  <div class="room">
    <div class="room-name">
      <a href="/">chatroom1</a>
    </div>
  </div>

  <div class="room">
    <div class="room-name">
      <a href="/">chatroom2</a>
    </div>
  </div>
</div>